.bg-black{
  background-color: rgba(35, 35, 36, .8);
  color: white;
}
.logo{
  display: inline;
  max-height: 1.5rem;
}
.top{
  flex-wrap: nowrap;
}
.nav-words {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-left: 3rem;
}
.nav-words p:hover, .nav-icons i:hover{
 opacity: .6;
}

.nav-icons{
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-left: 5rem;
}

.image{
    /* background-repeat: no-repeat;
    background-position: center; */
    /* max-height: 50%;
    max-width: 50px; */
    /* position: absolute; */
    opacity: .5;
    /* flex: 0 0 100%; */
   
   
   
}
.img-text{
  position:absolute;
  background-color: rgba(0, 0, 0, .075);
  font-family: cursive;
  margin-top: 10rem;
}
.transbox {
  background-color: #ffffff;
  opacity: 0.7;
  filter: alpha(opacity=60);
}
.border-box {
  border-bottom: 3px solid rgba(35, 35, 36, .8);
  border-left: 3px solid rgba(35, 35, 36, .8);
}

.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

.small{
  background-color: white;
  color: grey;
  margin-top: 2.2rem;
  justify-content: center;
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 5rem;
}
.bd-top{
  border-top: 2px solid grey;
  display: flex;
  width: fit-content;
  justify-content: center;
  margin-top: 3.5rem;

}
.devicon-javascript-plain{
font-size: 7rem;
}
.devicon-bootstrap-plain{
  font-size: 7rem;
}
.devicon-html5-plain{
  font-size: 7rem;
}
.devicon-csharp-plain{
  font-size: 7rem;

}
.devicon-dot-net-plain{
  font-size: 7rem;
}
.devicon-vuejs-plain{
  font-size: 7rem;
}
.devicon-mongodb-plain{
  font-size: 7rem;
}
.devicon-mysql-plain{
  font-size: 7rem;
}
.devicon-nodejs-plain{
  font-size: 7rem;
}
.devicon-visualstudio-plain{
  font-size: 7rem;
}
.devicon-oracle-original{
  font-size: 7rem;
}
.devicon-css3-plain{
  font-size: 7rem;
}
.sm-img{
  display: flex;
  justify-content: center;
  
}
.icons{
  display: flex;
  justify-content: center;
}
.footer{
  background-color: rgb(46, 64, 83);
  display:flex;
  /* align-items: flex-start; */
  margin-top: 30px;
  height: 9rem;

}
.foot-text{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;}